*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    font-size: 24px;
    color: cornflowerblue;
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: burlywood;
}
h3{
    font-weight: 500;
    color: brown;
    font-size: 32px;
}
p{
    font-weight: 600;
    font-size: 24px;
}
li{
    font-weight: 700;
    color:mediumturquoise;
    font-size: 22px;
}
.main-container{
    width: 600px;
    height: 500px;
    padding: 10px;
    margin: 10px auto;
    background-color: #FFCF00;
}

.main-container h1{
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #FFD5FF;
    color: #B47EB3;
}

.main-container ul li{
    padding: 20px;
    margin: 0 auto;
}