*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    font-size: 24px;
    color: cornflowerblue;
}
.main-container{
    width: 600px;
    height: 500px;
    padding: 10px;
    margin: 10px auto;
    background-color: #FFCF00;
}

.main-container h1{
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #FFD5FF;
    color: #B47EB3;
    font-size: 50px;
    font-weight: 700px;
}

.main-container ul li{
    padding: 20px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    color: #69306D;
}

.baked-container{
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1C448E;
}
.baked-container h1{
    padding: 8px;
    margin: 12px;
    text-align: center;
    color: #FF9F1C;
    background-color: #CCCCCC;
    font-size: 50px;
    font-weight: 700;
}
.baked-container img{
    padding: 20px;
    display: block;
    margin: 10px auto;
    
}
.baked-container h3{
    text-align: center;
    padding: 8px;
    margin: 10px;
    color: #FFE381;
    background-color: #272D2D;
    font-size: 32px;
    font-weight: 500;
}
.baked-container p{
    padding: 12px;
    color: #EDC79B;
    font-weight: 600;
    font-size: 24px;
}
.baked-container ul{
    margin: 20px;
    padding: 24px;
}
.baked-container ul li{
    padding: 20px;
    margin: 8px auto;
    font-size: 22px;
    font-weight: 700;
}
.homemade-container{
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #918B76;
}
.homemade-container h1{
    padding: 8px;
    margin: 12px;
    text-align: center;
    color: #0353A4;
    background-color: #CCCCCC;
    font-size: 50px;
    font-weight: 700;
}
.homemade-container img{
    padding: 20px;
    display: block;
    margin: 10px auto;
    
}
.homemade-container h3{
    text-align: center;
    padding: 8px;
    margin: 10px;
    color: #FFE381;
    background-color: #272D2D;
    font-size: 32px;
    font-weight: 500;
}
.homemade-container p{
    padding: 12px;
    color: #EDC79B;
    font-size: 24px;
    font-weight: 600;
}
.homemade-container ul{
    margin: 20px;
    padding: 24px;
    
    
}
.homemade-container ul li{
    padding: 20px;
    margin: 8px auto;
    color: #FFE156;
    font-size: 22px;
    font-weight: 700;
}

.maple-container{
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #B486AB;
}
.maple-container h1{
    padding: 8px;
    margin: 12px;
    text-align: center;
    color: #D81E5B;
    background-color: #CCCCCC;
    font-size: 50px;
    font-weight: 700;
}
.maple-container img{
    padding: 20px;
    display: block;
    margin: 10px auto;
    
}
.maple-container h3{
    text-align: center;
    padding: 8px;
    margin: 10px;
    color: #FFE381;
    background-color: #272D2D;
    font-size: 32px;
    font-weight: 500;
}
.maple-container p{
    padding: 12px;
    color: #DB162F;
    font-size: 24px;
    font-weight: 600;
}
.maple-container ul{
    margin: 20px;
    padding: 24px;
    
}
.maple-container ul li{
    padding: 20px;
    margin: 8px auto;
    color: #001B2E;
    font-size: 22px;
    font-weight: 700;

}
